<table class="pokemon-table">
  <!-- Headers -->
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Ataque</th>
      <th>Defensa</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <!-- Pokemon rows -->
    <ng-container *ngIf="pokemonList?.length; else loader">
      <tr *ngFor="let pokemon of pokemonList">
        <td>
          {{ pokemon.name }}
        </td>
        <td class="sprite-container">
          <img [src]="pokemon.image" referrerpolicy="no-referrer" [title]="pokemon.name">
        </td>
        <td>{{ pokemon.attack }}</td>
        <td>{{ pokemon.defense }}</td>
        <td class="actions">
          <div>
            <i class="bi bi-pencil-fill" title="Edit" (click)="edit.emit(pokemon)"></i>
            <i class="bi bi-trash3-fill" title="Delete" (click)="delete.emit(pokemon.id)"></i>
          </div>
        </td>
      </tr>
    </ng-container>

    <!-- Pokemon rows -->
    <ng-template #loader>
      <tr class="loader-container">
        <td colspan="5">
          <span class="loader"></span>
          <p class="loader-text">Cargando...</p>
        </td>
      </tr>
    </ng-template>

  </tbody>
</table>
