@import 'src/styles';

.search-container {
  color: $dark-gray;
  width: 200px; // Sacar
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    margin-right: 10px;
  }

  input {
    width: 90%;
    border: none;
    outline: none;
    font-size: 16px;

    &::placeholder {
      color: $light-gray;
    }
  }
}
