<form [formGroup]="pokemonForm" class="pokemon-form border radius" (submit)="onSubmit()">
  <h2 class="form-title">{{ title }}</h2>

  <section>
    <label>Nombre:</label>
    <div class="text-input-container">
      <input
        type="text"
        formControlName="name"
        class="radius"
        [class.error]="isSubmitted && !isControlValid('name')"
        placeholder="Nombre"
      />
      <small class="error-message" *ngIf="isSubmitted && !isControlValid('name')">
        {{ getErrorMessage('name') }}
      </small>
    </div>
  </section>

  <section>
    <label>Ataque:</label>
    <div>
      <span>0</span>
      <input
        type="range"
        formControlName="attack"
        min="1"
        max="100"
        step="1"
      />
      <span>100</span>
    </div>
  </section>

  <section>
    <label>Imagen:</label>
    <div class="text-input-container">
      <input
        type="text"
        formControlName="image"
        [class.error]="isSubmitted && !isControlValid('image')"
        placeholder="url"
      />
      <small class="error-message" *ngIf="isSubmitted && !isControlValid('image')">
        {{ getErrorMessage('image') }}
      </small>
    </div>
  </section>

  <section>
    <label>Defensa:</label>
    <div>
      <span>0</span>
      <input
        type="range"
        formControlName="defense"
        min="1"
        max="100"
        step="1"
      />
      <span>100</span>
    </div>
  </section>

  <section class="form-footer">
    <button [disabled]="!isSubmitButtonEnabled">
      <i class="bi bi-save"></i>
      Guardar
    </button>
    <button (click)="cancel.emit()">
      <i class="bi bi-x-lg"></i>
      Cancelar
    </button>
  </section>
</form>
