@import 'src/styles';

.pokemon-form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .form-title {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0 10px 0;
  }

  section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

    label {
      padding-right: 10px;
    }

    .text-input-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      width: 100%;

      input[type='text'] {
        width: 80%;
        padding-left: 10px;
        border: none;
        outline: none;
        font-size: 16px;
        border: 2px solid $gray;
        border-radius: $border-radius;

        &.error {
          border: 2px solid $red;
        }
      }

      .error-message {
        color: $red;
        font-size: 12px;
        margin-top: 5px;
      }
    }

    div {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input[type='range'] {
        width: 85%;
        accent-color: $purple;
        height: 6px;
        transition: accent-color .5s;

        &:hover {
          accent-color: $dark-purple;
        }
      }
    }
  }

  .form-footer {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
}
