<table class="pokemon-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Ataque</th>
      <th>Defensa</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemonList$ | async">
      <td>{{ pokemon.name }}</td>
      <td class="sprite-container">
        <img [src]="pokemon.image" referrerpolicy="no-referrer" [title]="pokemon.name">
      </td>
      <td>{{ pokemon.attack }}</td>
      <td>{{ pokemon.defense }}</td>
      <td class="actions">
        <div>
          <i class="bi bi-pencil-fill" title="Edit"></i>
          <i class="bi bi-trash3-fill" title="Delete"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
