@import "~bootstrap-icons/font/bootstrap-icons.css";

// Variables
$purple: #6658f6;
$gray: #cbd1d4;
$light-gray: #cdd1d2;
$dark-gray: #80898e;
$red: #b65865;

$font-family: sans-serif;

$border-radius: 4px;

* {
  font-size: 16px;
}

body {
  font-family: $font-family;
}

.border {
  border: 2px solid $gray;
}

.radius {
  border-radius: $border-radius;
}

button {
  padding: 10px 15px;
  color: white;
  background-color: #6658f6;
  outline: none;
  border: none;
  border-radius: $border-radius;

  i {
    margin-right: 3px;
  }
}
