@import "~bootstrap-icons/font/bootstrap-icons.css";

// Variables
$purple: #6658f6;
$dark-purple: #473ad7;
$gray: #cbd1d4;
$light-gray: #cdd1d2;
$dark-gray: #80898e;
$disabled-button-background-color: #d0cdfc;
$disabled-button-color: #dddcfa;
$red: #b65865;


$font-family: sans-serif;

$border-radius: 4px;

* {
  font-size: 16px;
}

body {
  font-family: $font-family;
}

.border {
  border: 2px solid $gray;
}

.radius {
  border-radius: $border-radius;
}

button {
  padding: 10px 15px;
  color: white;
  background-color: $purple;
  outline: none;
  border: none;
  border-radius: $border-radius;
  transition: background-color .5s;

  i {
    margin-right: 3px;
  }

  &:hover {
    background-color: $dark-purple;
    cursor: pointer;
  }

  &:disabled {
    background-color: $disabled-button-background-color;
    color: $disabled-button-color;
    cursor: auto;
  }
}

input {
  height: 40px;
  padding: 0;
  box-sizing: border-box;
}
